.documentation {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image:
    linear-gradient(#333333AA, #333333AA),
    url("assets/images/background-image.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cascadia Code", sans-serif;

  &__heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }

  &__button {
    width: 100%;
  }
}